version: '3'
services:
  db:
    image: mysql:5.7
    environment:
      TZ: Asia/Tokyo
      MYSQL_ROOT_PASSWORD: ${ROOTPASS}
      MYSQL_DATABASE: ${DATABASE}
    ports:
      - "4306:3306"
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    tty: true
    stdin_open: true
    environment:
      BUNDLE_APP_CONFIG: /app/.bundle
      TZ: Asia/Tokyo
      RAILS_ENV: development
    volumes:
      - .:/report_app:cached
    ports:
      - "3000:3000"
    depends_on:
      - db
