version: '2'
services:
  db:
    image: circleci/mysql:5.7
    environment:
      - MYSQL_DATABASE: root
      - MYSQL_ROOT_PASSWORD: password
      - SECRET_KEY_BASE: $SECRET_KEY_BASE
      - TZ: Asia/Tokyo
    ports:
      - "4306:3306"

  web: &app_base
    build: .
    command:
      - /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
      - echo $$SECRET_KEY_BASE
    # docker-compose downで終了するたびにDBの中身が消えてしまうのでvolumesを使ってローカルに永続化
    volumes:
      - ".:/report_app"
    ports:
      - "3000:3000"
    depends_on:
      - db
    tty: true
    stdin_open: true

  webpack:
    <<: *app_base
    command: /bin/sh -c "docker/wait-for-it.sh app:3000 --timeout=600 && bundle install && yarn install --check-files && bin/webpack-dev-server"
    ports:
      - "3035:3035"
    depends_on:
      - web
    tty: false
    stdin_open: false
