#date_type{height: 2.5rem; margin-bottom: 1rem;}
.session_container{margin-top: 10rem;}
.name_field{ime-mode: disabled!important;}
.left_column{padding: 0 1rem; margin-bottom: 1rem;}
.all_post, .user_search_form{display: inline-block;}
.user_search_form, .create_btn{margin-top: 2.5rem;}
.user_search_field{height: 2.7rem}
.title{font-size: 2rem;}
.create_btn{height: 2.5rem;}
.mono_post{border: solid 1px #999;border-radius: 10px;height: 10rem;margin-bottom: 1rem;padding: 1rem 1rem 0;}
.session_container{text-align: center;}
.signup_form{display: inline-block;}
.name_field, .password_field, .password_confirmation_field{display: block!important;width: 20rem;margin-bottom: 1rem;}
.admin_label{color: purple;vertical-align: super;font-size: 1.5rem;}
.boss_box, .subordinate_box{text-align: center;font-size: 1.5rem;}
.subordinate_box{margin-top: 3rem;}
.post-date{margin-bottom: 1rem;}
.post-status{padding: 0.6rem 1.3rem;}
.bg-success, .bg-danger{padding: 0.6rem 2.2rem}
.post-title{margin-top: 1rem;}
#admin_flag{height: 2.5rem;}
.post-title{margin: 0;width: 80%;display: inline-block;}
.edit-btn{margin-top: 0.5rem; }
.user-new-btn{padding: 1rem 2rem; font-size: 1.1rem;}
.col-title{padding-left: 0;}
.field_with_errors{margin: 1rem;}
