.session-title{margin-top:10rem; margin-bottom: 3rem;font-weight: bold;}
.login_container{text-align: center;}
.input-group-text{display: inline-block;height: 4rem;font-size: 1.3rem;}
.name_feild{margin-bottom: 1rem;}
.password_feild{margin-bottom: 2rem;}
.to_signup{color:#666;}
.signup_link{font-size:1.1rem;text-decoration:none;}
.login_btn{font-size: 1.5rem;width:10rem;}
